body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}

#root{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100vh;
}

nav {
  
}

a {
  margin: 0 10px;
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}
